<!-- About Section-->
    <section class="bg-light" id="about">
      <div class="container text-center">
        <header class="mb-5">
          <h2 class="handwriting-text">About Restaurant</h2>
          <h5 class="text-uppercase text-gray-500 fw-normal">Check our story</h5>
        </header>
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <p class="lead text-muted mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
          </div>
        </div>
      </div><img class="position-absolute top-100 start-100 translate-middle d-none d-lg-block" src="img/dish-d.png" alt="..." width="300">
    </section>
    <!-- End About Section-->